#hm-attachments {

}

#hm-attachments > .inside {
	margin-top: 0;
	padding-top: 12px;

	background: #f7f7f7;
}

.hm-attachments-posts {
	position: relative;

	padding: 0.5%;
}

.hm-attachments-post,
.hm-attachments-add {
	position: relative;

	display: inline-block;
	width: 12em;
	height: 12em;
	margin: 0.5%;

	background: #222;
	border: 1px solid #e5e5e5;

	vertical-align: top;

	overflow: hidden;

  	transition-duration: 250ms;
  	transition-timing-function: ease;
  	transition-property: margin, padding; 
}

.hm-attachments-posts.show-info .hm-attachments-post {

}

.hm-attachments-post > .hm-attachments-preview-image {
	display: block;
	width: 100%;
	height: auto;

	cursor: move;

  	transition-duration: 250ms;
  	transition-timing-function: ease;
  	transition-property: filter, opacity; 
}

.hm-attachments-post:hover > .hm-attachments-preview-image {
	/* filter: blur( 4px ); */
	opacity: 0.6;
}

.hm-attachments-post-actions {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	padding: 0.5em 0.5em;

	background: #fff;

	transform: translateY( 100% );

	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	transition: all 250ms ease;
}

.hm-attachments-post:hover .hm-attachments-post-actions {
	transform: translateY( 0 );
}

.hm-attachments-post-actions > a {
	position: relative;

	display: inline-block;
	width: 2em;
	height: 2em;
	margin: 0 0.25em;

	white-space: nowrap;
	text-indent: 300%;
	overflow: hidden;

	vertical-align: bottom;
}

.hm-attachments-post-actions > .delete-link {
	color: #a00;
}

.hm-attachments-post-actions > .delete-link:hover,
.hm-attachments-post-actions > .delete-link:active,
.hm-attachments-post-actions > .delete-link:focus {
	color: #f00;
}

.hm-attachments-post-actions > a::before {
	content: '';

	position: absolute;
	left: 0;
	top: 0;

	display: block;
	width: 1em;
	height: 1em;
	padding: 0;

	font-family: 'dashicons';
	font-size: 2em;
	line-height: 1;
	text-decoration: none;
	text-indent: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hm-attachments-post-actions > .edit-link::before {
	content: '\f464';
}

.hm-attachments-post.show-info .hm-attachments-post-actions > .edit-link::before {
	content: '\f335';
}

.hm-attachments-post-actions > .delete-link::before {
	content: '\f182';

	font-size: 1.75em;
}

.hm-attachments-post-info .fields {
	padding: 1.5em 0;
}

.hm-attachments-post-info .field {
	margin: 0.5em 0;
}

.hm-attachments-post label {
	display: inline-block;

	width: 8em;
	padding: 0 1em 0 0;
}

.hm-attachments-post input,
.hm-attachments-post textarea {
	display: inline-block;
	width: 24em;
}

/* label */
.hm-attachments-post-label {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;

	padding: 0.75em 1em;

	color: #fff;

	opacity: 0;

	transform: translateY( -100% );

  	transition-duration: 250ms;
  	transition-timing-function: ease;
  	transition-property: transform; 

  	pointer-events: none;
}

.hm-attachments-post:hover .hm-attachments-post-label {
	opacity: 1;

	transform: translateY( 0 );
}

.hm-attachments-post:hover .hm-attachments-post-label > p {
	margin: 0;
}

/* info */
.hm-attachments-post-info {
	position: fixed;
	top: 0;
	left: 4em;
	right: 4em;
	z-index: 10000;

	display: none;
	max-width: 36em;
	margin: 4em auto;
	padding: 1em;

	background: #fff;
	border: 1px solid #aaa;
	box-shadow: 0 0 1em rgba( 0,0,0,0.2 );
}

.hm-attachments-post.show-info .hm-attachments-post-info {
	display: block;
}

.hm-attachments-show-info::after {
	content: ' ';

	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;

	background: rgba( 0,0,0,0.7 );
}

.hm-attachments-post-info > label {
	margin: 0 0 0.25em 0;
}

.hm-attachments-post-info > input[type='text'] {
	box-sizing: border-box;
	width: 100%;
	margin: 0 0 0.5em 0;
}

.hm-attachments-post-info-header {
	margin: -1em -1em 1em -1em;
	padding: 1em 1em;

	background: #fcfcfc;
	border-bottom: 1px solid #dddddd;
}

.hm-attachments-post-info-header > h4 {
	margin: 0;
}

.hm-attachments-post-info-header > .meta {
	margin: 0;
	color: #666;
}

.hm-attachments-post-info-footer {
	margin: 1em -1em -1em -1em;
	padding: 1em 1em;

	text-align: right;

	background: #fcfcfc;
	border-top: 1px solid #dddddd;
}

.hm-attachments-post-info-footer > .button {

}


/* placeholder */
.hm-attachments-post-placeholder {
	display: none;
}


/* add new item */
.hm-attachments-add {
	text-align: center;

	background: none;
	/* box-shadow: 0 0 1em rgba( 0,0,0,0.2 ); */
}

.hm-attachments-add > .button {
	position: relative;
	top: 50%;

	margin: -0.75em auto 0;
}